{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gp Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/Gp/assets/img/favicon.png" rel="icon">
  <link href="/static/Gp/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/Gp/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/Gp/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/Gp/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/Gp/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/Gp/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/Gp/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/Gp/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/Gp/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index_user.html">Gp<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/static/Gp/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
     </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/" class="get-started-btn scrollto">LOGOUT</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Banking is necessary<br>-banks are not<span>.</span></h1>
          <h2>We are team of talented digital marketers</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="/send_acrequest#about">Send AC Request</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="/send_request#about">View AC Request Status</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="/view_account_detais_new#about">view account details</a></h3>
          </div>
        </div>



        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="/view_transaction#about">view transacation info</a></h3>
          </div>
        </div>

          <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="/view_reply#about">view reply </a></h3>
          </div>
        </div>

          <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="/send_feedback#about">feedback </a></h3>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        {% block body %}
        {% endblock %}
      <div class="container" data-aos="fade-up">

{#        <div class="row">#}
{#          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">#}
{#            <img src="/static/Gp/assets/img/about.jpg" class="img-fluid" alt="">#}
{#          </div>#}
{#          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">#}
{#            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>#}
{#            <p class="fst-italic">#}
{#              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore#}
{#              magna aliqua.#}
{#            </p>#}
{#            <ul>#}
{#              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>#}
{#              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>#}
{#              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>#}
{#            </ul>#}
{#            <p>#}
{#              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate#}
{#              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident#}
{#            </p>#}
{#          </div>#}
{#        </div>#}

      </div>
    </section><!-- End About Section -->
      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>



        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Gp/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->




  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/Gp/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/Gp/assets/vendor/aos/aos.js"></script>
  <script src="/static/Gp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/Gp/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/Gp/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/Gp/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/Gp/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/Gp/assets/js/main.js"></script>

</body>

</html>