<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <td>First Name
        <label>
          <input type="text" name="textfield"required pattern="[A-Z a-z.]{3,25}" />
        </label></td>
    </tr>
    <tr>
      <td>Last Name
        <label>
          <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}"/>
        </label></td>
    </tr>
    <tr>
      <td>Signature
        <label>
          <input type="file" name="file" />
        </label></td>
    </tr>
    <tr>
      <td>Place
        <label>
          <input type="text" name="textfield3"pattern="[A-Z a-z.]{3,25}" />
        </label></td>
    </tr>
    <tr>
      <td>Phone
        <label>
          <input type="text" name="textfield4"required pattern="[6789][0-9]{9}" />
        </label></td>
    </tr>
    <tr>
      <td>Gender : Male
        <label>
          <input name="radiobutton" type="radio" value="radiobutton" />
          Female
          <input name="radiobutton" type="radio" value="radiobutton" />
        </label></td>
    </tr>
    <tr>
      <td>DOB 
        <label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr>
    <tr>
      <td>Id Proof 
        <label>
        <input type="file" name="file2" />
      </label></td>
    </tr>
    <tr>
      <td>Username
        <label>
        <input type="text" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <td>Password
        <label>
        <input type="text" name="textfield7"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  />
      </label></td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="Sign up" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
