{% extends 'bank/index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/branch_code">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <td width="68" >Name</td>
      <td width="116"><label>
        <input type="text" name="textfield1" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield2"  pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield3" pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
        <input type="text" name="textfield4" required pattern="[0-9]{6}" />
      </label></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label>
        <input type="text" name="textfield5" required pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <tr>
      <td>IFSC code </td>
      <td><label>
        <input type="text" name="textfield6" required  pattern="^[A-Z]{4}0[A-Z0-9]{6}$"/>
      </label></td>
    </tr>
    <tr>
      <td>email</td>
      <td><label>
        <input type="text" name="textfield7"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>
    <tr>
      <td>username</td>
      <td><label>
        <input type="text" name="textfield8" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>password</td>
      <td><label>
        <input type="password" name="textfield9"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input name="Add" type="submit" id="Add" value="Add" class="btn btn-success"/>
          </div>
      </label></td>
    </tr>
  </table>
  <div align="center"></div>
</form>
{% endblock %}